// Suyun durumunu güncelleyen sayaç
async function fetchStatus() {
    try {
        const response = await fetch('/status');
        const data = await response.json();

        // Çayın durumu
        const teaBox = document.getElementById('tea-box');
        const teaStatus = document.getElementById('tea-status');
        if (data.tea_ready) {
            teaBox.classList.remove('gray');
            teaBox.classList.add('green');
            teaStatus.innerText = "Çay Hazır!";
        } else {
            teaBox.classList.remove('green');
            teaBox.classList.add('gray');
            teaStatus.innerText = "Çay Hazır Değil!";
        }

        // Suyun durumu
        const waterBox = document.getElementById('water-box');
        const waterStatus = document.getElementById('water-status');
        if (data.water_timer > 0) {
            waterBox.classList.remove('green');
            waterBox.classList.add('gray');
            waterStatus.innerText = `Kaynamasına ${data.water_timer} Dakika..`;
        } else {
            waterBox.classList.remove('gray');
            waterBox.classList.add('green');
            waterStatus.innerText = "Su Hazır!";
        }
    } catch (error) {
        console.error('Durum alınırken bir hata oluştu:', error);
    }
}

// Sayaç güncellemelerini çalıştır
fetchStatus();
setInterval(fetchStatus, 60000);
