<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Çay Durumu</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Çay ve Su Durumu</h1>
    <div id="tea-info">Çay Durumu: <span id="tea-info"></span></div>
    <div id="water-info">Su Durumu: <span id="water-info"></span></div>
    <div id="tea-timer">Çay Geri Sayım: <span id="tea-timer"></span></div>
    <div id="water-timer">Su Geri Sayım: <span id="water-timer"></span></div>

    <!-- Ek bilgiler -->
    <h2>Ek Bilgiler</h2>
    <div id="tea-packages-info">Çay Paket Sayısı: <span id="tea-packages-info"></span></div>
    <div id="tea-times-info">Muhtemel Çay Saatleri: <span id="tea-times-info"></span></div>
    <div id="tea-cost-date-info">Çay Ücreti ve Tarihi: <span id="tea-cost-date-info"></span></div>

    <script src="script.js"></script>
</body>
</html>
