<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Çay ve Su Durumu</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Çay ve Su Durumu</h1>

        <div class="top-section">
            <div class="status-box" id="tea-status">
                <h2>Çay Durumu</h2>
                <p id="tea-info">Durum yükleniyor...</p>
            </div>
            <div class="status-box" id="water-status">
                <h2>Su Durumu</h2>
                <p id="water-info">Durum yükleniyor...</p>
            </div>
        </div>

        <div class="bottom-section">
            <div class="info-box">
                <h3>Mevcut Çay Paket Sayısı:</h3>
                <p id="tea-packages">Bilgi yok</p>
            </div>
            <div class="info-box">
                <h3>Muhtemel Çay Saatleri:</h3>
                <p id="tea-times">Bilgi yok</p>
            </div>
            <div class="info-box">
                <h3>Çay Ücreti ve Toplanma Tarihi:</h3>
                <p id="tea-cost-date">Bilgi yok</p>
            </div>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
